// VARIABLES

$breakpoint-XXL: 1400px;
$breakpoint-XL: 1200px;
$breakpoint-L: 992px;
$breakpoint-M: 768px;
$breakpoint-S: 576px;
$breakpoint-XS: 360px;

$white: #FFFFFF;
$sand: #F4EFE9;
$beige: #EDE6DD;
$beige-dark: #DAD2C8;
$gold: #FFD394;
$purple: #592141;
$dark: #1E1928;
$dark-lite: rgba($dark, 0.8);





// PLACEHOLDERS

%font-inter {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
}

%font-inter-bold {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
}

%font-roboto {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

%font-roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
}

%container {
  width: 1200px;

  @media screen and (max-width: 1400px) {
    width: calc(100% - 60px - 60px)
  }

  @media screen and (max-width: 1200px) {
    width: calc(100% - 40px - 40px)
  }

  @media screen and (max-width: 576px) {
    width: calc(100% - 30px - 30px)
  }
}

%round-button {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  background-color: $dark;
  border-radius: 20px;

  @media screen and (max-width: 1200px) {
    margin-top: 16px;
    margin-left: 0;
  }
}





// MIXINS

@mixin flex($direction: row, $align: normal, $justify: start) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin bg-image($url, $position: center, $size: contain, $repeat: no-repeat) {
  background-image: $url;
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
}

@mixin button($bg-color: $dark, $color: $white, $border: none) {
  @extend %font-inter;
  height: 40px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 14px;
  color: $color;
  background-color: $bg-color;
  border: $border;
  border-radius: 20px;

  @media screen and (max-width: 576px) {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 12px;
  }
}