@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

body {
  font-size: 62.5%;
  font-family: 'Inter', Arial, Tahoma, Verdana, sans-serif;
  line-height: 1.2;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.menu__link, .introducing__info p:first-of-type, .introducing__info p, .introducing__info p:last-of-type, .learn-more__container button, .how-it-works__list-element span, .how-it-works__list-element p, .about__text p, .services__container button, .feedback__container h2, .feedback__container p:last-of-type, .tariffs__container p, .trial__container h2, .trial__container p, .footer__links a, .footer__subscribe, .footer__description, .footer__copyright, .request-form input, .request-form button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.how-it-works__list-element h3, .services__container h2, .services__list-element h3, .footer__links h2, .footer__address {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.introducing__info h1, .learn-more__container h2, .learn-more__container p, .security__container h2, .security__container p, .feedback__container span, .feedback__container p, .affiliates__container h2, .tariffs__container h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.how-it-works__container h2, .about__text h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.header__container, .introducing__container, .learn-more__container, .how-it-works__container, .about__container, .security__container, .affiliates__container, .tariffs__container, .trial__container, .footer__container {
  width: 1200px;
}

@media screen and (max-width: 1400px) {
  .header__container, .introducing__container, .learn-more__container, .how-it-works__container, .about__container, .security__container, .affiliates__container, .tariffs__container, .trial__container, .footer__container {
    width: calc(100% - 60px - 60px);
  }
}

@media screen and (max-width: 1200px) {
  .header__container, .introducing__container, .learn-more__container, .how-it-works__container, .about__container, .security__container, .affiliates__container, .tariffs__container, .trial__container, .footer__container {
    width: calc(100% - 40px - 40px);
  }
}

@media screen and (max-width: 576px) {
  .header__container, .introducing__container, .learn-more__container, .how-it-works__container, .about__container, .security__container, .affiliates__container, .tariffs__container, .trial__container, .footer__container {
    width: calc(100% - 30px - 30px);
  }
}

.footer__twitter, .footer__instagram, .footer__facebook, .footer__linkedin {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  background-color: #1E1928;
  border-radius: 20px;
}

@media screen and (max-width: 1200px) {
  .footer__twitter, .footer__instagram, .footer__facebook, .footer__linkedin {
    margin-top: 16px;
    margin-left: 0;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #EDE6DD;
  color: red;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 112px;
}

@media screen and (max-width: 768px) {
  .header__container {
    height: 80px;
  }
}

.header__logo {
  background-image: url(../images/logo.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 128px;
  height: 32px;
}

@media screen and (max-width: 576px) {
  .header__logo {
    width: 100px;
  }
}

.menu__button {
  position: absolute;
  right: 0;
  width: 30px;
  height: 20px;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .menu__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu__button span {
  width: 100%;
  height: 2px;
  background-color: #1E1928;
}

.menu__body {
  position: relative;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media screen and (max-width: 576px) {
  .menu__list {
    position: fixed;
    top: 80px;
    right: 0;
    width: 100%;
    padding-right: 40px;
    display: none;
    background-color: #FFD394;
  }
}

@media screen and (max-width: 576px) {
  .menu__list {
    padding-right: 20px;
  }
}

.menu__list-element {
  margin-right: 40px;
}

.menu__list-element:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 576px) {
  .menu__list-element {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .menu__list-element:last-of-type {
    margin-bottom: 0;
  }
}

.menu__link {
  font-size: 14px;
  color: #1E1928;
}

@media screen and (max-width: 576px) {
  .menu__link {
    font-size: 20px;
  }
}

.introducing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  background-color: #EDE6DD;
}

.introducing__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  margin-top: 80px;
  margin-bottom: 96px;
}

@media screen and (max-width: 1200px) {
  .introducing__container {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .introducing__container {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 576px) {
  .introducing__container {
    margin-top: 24px;
  }
}

.introducing__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  z-index: 3;
}

@media screen and (max-width: 576px) {
  .introducing__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.introducing__info h1 {
  max-width: 420px;
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 121%;
  color: #1E1928;
}

@media screen and (max-width: 992px) {
  .introducing__info h1 {
    max-width: 360px;
    font-size: 40px;
  }
}

@media screen and (max-width: 576px) {
  .introducing__info h1 {
    max-width: 260px;
    margin-bottom: 16px;
    font-size: 28px;
    text-align: center;
  }
}

.introducing__info p:first-of-type {
  max-width: 494px;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.25px;
  color: rgba(30, 25, 40, 0.8);
}

@media screen and (max-width: 992px) {
  .introducing__info p:first-of-type {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .introducing__info p:first-of-type {
    text-align: center;
  }
}

.introducing__info p {
  max-width: 548px;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 167%;
  letter-spacing: 0.25px;
  color: rgba(30, 25, 40, 0.8);
}

@media screen and (max-width: 992px) {
  .introducing__info p {
    max-width: 494px;
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .introducing__info p {
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
  }
}

.introducing__info p:last-of-type {
  margin-bottom: 24px;
  font-size: 18px;
  letter-spacing: 0.25px;
  color: #1E1928;
}

@media screen and (max-width: 992px) {
  .introducing__info p:last-of-type {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .introducing__info p:last-of-type {
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
  }
}

.introducing__image {
  background-image: url(../images/bg-family.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  bottom: -32%;
  right: 0;
  width: 500px;
  height: 380px;
}

@media screen and (max-width: 1200px) {
  .introducing__image {
    width: 400px;
    height: 308px;
  }
}

@media screen and (max-width: 992px) {
  .introducing__image {
    width: 340px;
    height: 260px;
    bottom: -34%;
  }
}

@media screen and (max-width: 768px) {
  .introducing__image {
    display: none;
  }
}

.learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #EDE6DD), color-stop(50%, #FFD394));
  background: linear-gradient(to bottom, #EDE6DD 50%, #FFD394 50%);
}

.learn-more__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  z-index: 3;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .learn-more__container {
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
    border-radius: 0;
  }
}

.learn-more__container h2 {
  max-width: 200px;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 131%;
  color: #1E1928;
}

@media screen and (max-width: 576px) {
  .learn-more__container h2 {
    font-size: 24px;
  }
}

.learn-more__container p {
  max-width: 650px;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 167%;
  letter-spacing: 0.25px;
  color: rgba(30, 25, 40, 0.8);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .learn-more__container p {
    max-width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .learn-more__container p {
    max-width: 95%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
  }
}

.learn-more__container button {
  height: 40px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 14px;
  color: #1E1928;
  background-color: transparent;
  border: 1px solid #1E1928;
  border-radius: 20px;
  z-index: 5;
}

@media screen and (max-width: 576px) {
  .learn-more__container button {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 12px;
  }
}

.how-it-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  background-color: #FFD394;
}

.how-it-works__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .how-it-works__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-top: 48px;
  }
}

.how-it-works__container h2 {
  position: relative;
  z-index: 1;
  width: 50%;
  font-size: 48px;
  line-height: 121%;
  color: #1E1928;
}

@media screen and (max-width: 768px) {
  .how-it-works__container h2 {
    width: 100%;
    margin-bottom: 48px;
    font-size: 32px;
  }
}

.how-it-works__list {
  position: relative;
  z-index: 1;
  width: 50%;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .how-it-works__list {
    width: 100%;
  }
}

.how-it-works__list-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  margin-bottom: 40px;
}

.how-it-works__list-element div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
}

.how-it-works__list-element span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 24px;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #1E1928;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .how-it-works__list-element span {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    font-size: 16px;
    border-radius: 16px;
  }
}

@media screen and (max-width: 360px) {
  .how-it-works__list-element span {
    width: 28px;
    height: 28px;
    margin-right: 12px;
    font-size: 14px;
    border-radius: 14px;
  }
}

.how-it-works__list-element h3 {
  max-width: calc(100% - 40px - 24px);
  font-size: 18px;
  line-height: 153%;
  letter-spacing: 0.25px;
  color: #1E1928;
}

@media screen and (max-width: 768px) {
  .how-it-works__list-element h3 {
    max-width: calc(100% - 32px - 16px);
  }
}

@media screen and (max-width: 360px) {
  .how-it-works__list-element h3 {
    max-width: calc(100% - 28px - 14px);
  }
}

.how-it-works__list-element p {
  margin-top: 10px;
  margin-left: 64px;
  font-size: 16px;
  line-height: 153%;
  letter-spacing: 0.18px;
  color: rgba(30, 25, 40, 0.8);
}

@media screen and (max-width: 768px) {
  .how-it-works__list-element p {
    margin-left: 48px;
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  .how-it-works__list-element p {
    margin-left: 40px;
  }
}

.how-it-works__list-element:last-of-type {
  margin-bottom: 0;
}

.how-it-works__image {
  background-image: url(../images/bg-papers.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -188px;
  left: -180px;
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 1200px) {
  .how-it-works__image {
    left: -120px;
  }
}

@media screen and (max-width: 768px) {
  .how-it-works__image {
    bottom: -144px;
    width: 320px;
    height: 320px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  z-index: 3;
  width: 100%;
  background-color: #F4EFE9;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 576px) {
  .about__container {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  width: 100%;
  margin-bottom: 92px;
}

.about__block:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  .about__block {
    margin-bottom: 64px;
  }
}

.about__text {
  z-index: 1;
  width: 50%;
}

@media screen and (max-width: 576px) {
  .about__text {
    width: 100%;
  }
}

.about__text h2 {
  margin-bottom: 28px;
  font-size: 32px;
  line-height: 131%;
  color: #1E1928;
}

@media screen and (max-width: 768px) {
  .about__text h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 576px) {
  .about__text h2 {
    margin-bottom: 16px;
    font-size: 24px;
  }
}

.about__text p {
  font-size: 18px;
  line-height: 167%;
  letter-spacing: 0.25px;
  color: rgba(30, 25, 40, 0.8);
}

@media screen and (max-width: 768px) {
  .about__text p {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .about__text p {
    font-size: 14px;
  }
}

._end-aligned h2 {
  text-align: end;
}

._end-aligned p {
  text-align: end;
}

@media screen and (max-width: 576px) {
  ._end-aligned {
    padding-left: 10%;
  }
}

@media screen and (max-width: 576px) {
  ._start-aligned {
    padding-right: 10%;
  }
}

.about__image {
  width: 50%;
}

@media screen and (max-width: 576px) {
  .about__image {
    display: none;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  background-color: #F4EFE9;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  padding-top: 144px;
  padding-bottom: 144px;
}

@media screen and (max-width: 768px) {
  .services__container {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 576px) {
  .services__container {
    padding-top: 20px;
    padding-bottom: 64px;
  }
}

.services__container h2 {
  font-size: 18px;
  line-height: 153%;
  letter-spacing: 0.25px;
  color: #1E1928;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .services__container h2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .services__container h2 {
    max-width: 300px;
    font-size: 14px;
  }
}

.services__container button {
  height: 40px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 14px;
  color: #1E1928;
  background-color: transparent;
  border: 1px solid #1E1928;
  border-radius: 20px;
}

@media screen and (max-width: 576px) {
  .services__container button {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 12px;
  }
}

.services__list {
  max-width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[9];
      grid-template-columns: repeat(9, auto);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 1439px) {
  .services__list {
    margin-top: 64px;
    margin-bottom: 96px;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-column-gap: 24px;
    grid-row-gap: 36px;
  }
}

@media screen and (max-width: 992px) {
  .services__list {
    grid-column-gap: 20px;
    grid-row-gap: 28px;
  }
}

@media screen and (max-width: 768px) {
  .services__list {
    margin-top: 48px;
    margin-bottom: 64px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media screen and (max-width: 576px) {
  .services__list {
    width: calc(100% - 30px - 30px);
    margin-top: 24px;
    margin-bottom: 40px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

.services__list-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 140px;
  height: 160px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

@media screen and (max-width: 1439px) {
  .services__list-element {
    width: 260px;
    height: 260px;
  }
}

@media screen and (max-width: 992px) {
  .services__list-element {
    width: 200px;
    height: 216px;
  }
}

@media screen and (max-width: 768px) {
  .services__list-element {
    width: 144px;
    height: 152px;
  }
}

@media screen and (max-width: 576px) {
  .services__list-element {
    width: 100%;
    height: 132px;
  }
}

.services__list-element img {
  width: 88px;
  height: 88px;
  margin-top: 12px;
}

@media screen and (max-width: 1439px) {
  .services__list-element img {
    width: 160px;
    height: 160px;
    margin-top: 24px;
  }
}

@media screen and (max-width: 992px) {
  .services__list-element img {
    width: 120px;
    height: 120px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .services__list-element img {
    width: 88px;
    height: 88px;
    margin-top: 12px;
  }
}

@media screen and (max-width: 768px) {
  .services__list-element img {
    width: 80px;
    height: 80px;
    margin-top: 8px;
  }
}

.services__list-element h3 {
  width: 80%;
  margin-top: 12px;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: #1E1928;
}

@media screen and (max-width: 1439px) {
  .services__list-element h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .services__list-element h3 {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .services__list-element h3 {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .services__list-element h3 {
    font-size: 10px;
    margin-top: 4px;
  }
}

.security {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #F4EFE9), color-stop(50%, #592141));
  background: linear-gradient(to bottom, #F4EFE9 50%, #592141 50%);
}

.security__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .security__container {
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
    border-radius: 0;
  }
}

.security__container h2 {
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 131%;
  color: #1E1928;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .security__container h2 {
    max-width: 80%;
    font-size: 24px;
  }
}

.security__container p {
  max-width: 650px;
  font-size: 18px;
  line-height: 167%;
  letter-spacing: 0.25px;
  color: rgba(30, 25, 40, 0.8);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .security__container p {
    max-width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .security__container p {
    max-width: 95%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
  }
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  background-color: #592141;
}

.feedback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  max-width: 824px;
  padding-top: 144px;
  padding-bottom: 184px;
}

@media screen and (max-width: 768px) {
  .feedback__container {
    padding-top: 100px;
    padding-bottom: 144px;
  }
}

@media screen and (max-width: 576px) {
  .feedback__container {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}

.feedback__container h2 {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.25px;
  color: #F4EFE9;
}

@media screen and (max-width: 768px) {
  .feedback__container h2 {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 360px) {
  .feedback__container h2 {
    margin-bottom: 24px;
    font-size: 14px;
  }
}

.feedback__container span {
  font-size: 96px;
  line-height: 100%;
  color: #F4EFE9;
}

@media screen and (max-width: 992px) {
  .feedback__container span {
    margin-bottom: -32px;
  }
}

@media screen and (max-width: 768px) {
  .feedback__container span {
    font-size: 80px;
  }
}

@media screen and (max-width: 360px) {
  .feedback__container span {
    font-size: 60px;
    margin-bottom: -12px;
  }
}

.feedback__container p {
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #F4EFE9;
}

@media screen and (max-width: 992px) {
  .feedback__container p {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .feedback__container p {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .feedback__container p {
    font-size: 20px;
    line-height: 151%;
  }
}

@media screen and (max-width: 360px) {
  .feedback__container p {
    width: 80%;
    font-size: 18px;
  }
}

.feedback__container p:last-of-type {
  margin-top: 32px;
  font-size: 16px;
  line-height: 160%;
  color: #F4EFE9;
}

@media screen and (max-width: 768px) {
  .feedback__container p:last-of-type {
    margin-top: 48px;
  }
}

.affiliates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  background-color: #EDE6DD;
}

.affiliates__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 144px;
  padding-bottom: 144px;
}

@media screen and (max-width: 992px) {
  .affiliates__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 768px) {
  .affiliates__container {
    padding-top: 80px;
  }
}

@media screen and (max-width: 360px) {
  .affiliates__container {
    padding-top: 48px;
    padding-bottom: 80px;
  }
}

.affiliates__container h2 {
  margin-bottom: 66px;
  font-size: 32px;
  color: #1E1928;
}

@media screen and (max-width: 992px) {
  .affiliates__container h2 {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 576px) {
  .affiliates__container h2 {
    font-size: 28px;
  }
}

.affiliates__list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
}

@media screen and (max-width: 1400px) {
  .affiliates__list {
    grid-column-gap: 24px;
  }
}

@media screen and (max-width: 992px) {
  .affiliates__list {
    grid-column-gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .affiliates__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
}

@media screen and (max-width: 576px) {
  .affiliates__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 360px) {
  .affiliates__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-grid-columns: none;
        grid-template-columns: none;
    grid-gap: 0;
  }
}

.affiliates__list-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 144px;
  background: rgba(30, 25, 40, 0.08);
  border-radius: 8px;
}

@media screen and (max-width: 1400px) {
  .affiliates__list-element {
    height: 132px;
  }
}

@media screen and (max-width: 1400px) {
  .affiliates__list-element {
    height: 10vw;
  }
}

@media screen and (max-width: 768px) {
  .affiliates__list-element {
    height: 15vw;
  }
}

@media screen and (max-width: 576px) {
  .affiliates__list-element {
    height: 20vw;
  }
}

@media screen and (max-width: 360px) {
  .affiliates__list-element {
    margin-bottom: 24px;
  }
  .affiliates__list-element:last-of-type {
    margin: 0;
  }
}

.affiliates__logo {
  max-width: 134px;
  max-height: 46px;
}

@media screen and (max-width: 992px) {
  .affiliates__logo {
    max-width: 100px;
    max-height: 28px;
  }
}

@media screen and (max-width: 768px) {
  .affiliates__logo {
    max-width: 120px;
    max-height: 32px;
  }
}

@media screen and (max-width: 576px) {
  .affiliates__logo {
    max-width: 100px;
    max-height: 28px;
  }
}

.tariffs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #EDE6DD), color-stop(50%, #1E1928));
  background: linear-gradient(to bottom, #EDE6DD 50%, #1E1928 50%);
}

.tariffs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

@media screen and (max-width: 992px) {
  .tariffs__container {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 768px) {
  .tariffs__container {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 576px) {
  .tariffs__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (max-width: 360px) {
  .tariffs__container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.tariffs__container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: calc((100% - 1px) / 2);
}

@media screen and (max-width: 576px) {
  .tariffs__container div {
    width: 100%;
  }
}

.tariffs__container h2 {
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 131%;
  color: #1E1928;
}

@media screen and (max-width: 992px) {
  .tariffs__container h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .tariffs__container h2 {
    font-size: 24px;
  }
}

.tariffs__container p {
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.08px;
  color: #1E1928;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .tariffs__container p {
    width: 80%;
  }
}

.tariffs__container span {
  width: 1px;
  height: 80px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: rgba(30, 25, 40, 0.16);
}

@media screen and (max-width: 576px) {
  .tariffs__container span {
    width: 80%;
    height: 1px;
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 360px) {
  .tariffs__container span {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.trial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  background-color: #1E1928;
}

.trial__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 144px;
  padding-bottom: 144px;
}

@media screen and (max-width: 992px) {
  .trial__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.trial__container h2 {
  margin-bottom: 38px;
  font-size: 14px;
  line-height: 153%;
  color: #FFFFFF;
}

.trial__container p {
  margin-top: 24px;
  font-size: 14px;
  line-height: 167%;
  text-align: center;
  color: #FFFFFF;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  background-color: #FFFFFF;
}

.footer__container {
  padding-top: 64px;
  padding-bottom: 64px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
}

@media screen and (max-width: 1200px) {
  .footer__container {
    -ms-grid-columns: auto minmax(256px, 35%);
        grid-template-columns: auto minmax(256px, 35%);
  }
}

@media screen and (max-width: 576px) {
  .footer__container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
  }
}

@media screen and (max-width: 576px) {
  .footer__container {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-bottom: 114px;
}

@media screen and (max-width: 992px) {
  .footer__links {
    padding-bottom: 68px;
  }
}

@media screen and (max-width: 768px) {
  .footer__links {
    padding-bottom: 48px;
  }
}

.footer__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .footer__links ul {
    width: 112px;
  }
  .footer__links ul:first-of-type {
    margin-right: 36px;
  }
}

.footer__links h2 {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.25px;
  color: #1E1928;
}

@media screen and (max-width: 992px) {
  .footer__links h2 {
    margin-bottom: 12px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .footer__links h2 {
    font-size: 14px;
  }
}

.footer__links li {
  margin-bottom: 16px;
}

@media screen and (max-width: 992px) {
  .footer__links li {
    margin-bottom: 12px;
  }
}

.footer__links li:last-of-type {
  margin-bottom: 0;
}

.footer__links a {
  font-size: 16px;
  line-height: 1.6;
  color: #1E1928;
}

@media screen and (max-width: 992px) {
  .footer__links a {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .footer__links a {
    font-size: 12px;
  }
}

.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 1200px) {
  .footer__social-media {
    max-width: 256px;
    justify-self: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 576px) {
  .footer__social-media {
    display: none;
  }
}

.footer__subscribe {
  height: 40px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #1E1928;
  border: none;
  border-radius: 20px;
}

@media screen and (max-width: 576px) {
  .footer__subscribe {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .footer__subscribe {
    font-size: 12px;
  }
}

.footer__twitter {
  background-image: url("../images/logo-twitter.svg");
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}

.footer__instagram {
  background-image: url("../images/logo-instagram.svg");
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}

.footer__facebook {
  background-image: url("../images/logo-facebook.svg");
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}

.footer__linkedin {
  background-image: url("../images/logo-linkedin.svg");
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}

.footer__description {
  max-width: 668px;
  padding-bottom: 14px;
  font-size: 14px;
  line-height: 157%;
  color: #1E1928;
}

@media screen and (max-width: 992px) {
  .footer__description {
    max-width: 100%;
    padding-right: 16px;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .footer__description {
    padding-right: 20px;
    font-size: 10px;
  }
}

@media screen and (max-width: 576px) {
  .footer__description {
    display: none;
  }
}

.footer__stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 576px) {
  .footer__stores {
    margin-bottom: 32px;
    -ms-grid-row: 1;
        grid-row-start: 1;
    justify-self: flex-start;
  }
}

.footer__app-store {
  width: 120px;
  height: 40px;
  margin-right: 16px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 768px) {
  .footer__app-store {
    margin-right: 20px;
  }
}

.footer__google-play {
  width: 120px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__address {
  font-size: 12px;
  line-height: 167%;
  color: #1E1928;
}

.footer__copyright {
  font-size: 12px;
  line-height: 167%;
  color: rgba(30, 25, 40, 0.8);
  text-align: end;
}

@media screen and (max-width: 576px) {
  .footer__copyright {
    text-align: start;
  }
}

.request-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 448px;
  height: 56px;
  background-color: #FFFFFF;
  border-radius: 28px;
}

@media screen and (max-width: 992px) {
  .request-form {
    max-width: 360px;
  }
}

.request-form input {
  max-width: 120px;
  margin-left: 32px;
  font-size: 14px;
  line-height: 142%;
  color: #1E1928;
  background-color: transparent;
}

@media screen and (max-width: 576px) {
  .request-form input {
    margin-left: 20px;
    font-size: 12px;
  }
}

.request-form input::-webkit-input-placeholder {
  color: rgba(30, 25, 40, 0.23);
}

.request-form input:-ms-input-placeholder {
  color: rgba(30, 25, 40, 0.23);
}

.request-form input::-ms-input-placeholder {
  color: rgba(30, 25, 40, 0.23);
}

.request-form input::placeholder {
  color: rgba(30, 25, 40, 0.23);
}

.request-form button {
  height: 40px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #1E1928;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
}

@media screen and (max-width: 576px) {
  .request-form button {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=index.css.map */