// ABOUT

.about {
  @include flex(column, center);
  position: relative;
  z-index: 3;
  width: 100%;
  background-color: $sand;
}

.about__container {
  @include flex(column, center);
  @extend %container;
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (max-width: 576px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.about__block {
  @include flex(row, center);
  position: relative;
  width: 100%;
  margin-bottom: 92px;
  &:last-of-type { margin-bottom: 0 }

  @media screen and (max-width: 576px) {
    margin-bottom: 64px;
  }
}

.about__text {
  z-index: 1;
  width: 50%;
  
  @media screen and (max-width: 576px) {
    width: 100%;
  }

  h2 {
    @extend %font-roboto-bold;
    margin-bottom: 28px;
    font-size: 32px;
    line-height: 131%;
    color: $dark;

    @media screen and (max-width: 768px) {
      font-size: 28px;
    }

    @media screen and (max-width: 576px) {
      margin-bottom: 16px;
      font-size: 24px;
    }
  }

  p {
    @extend %font-inter;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.25px;
    color: $dark-lite;

    @media screen and (max-width: 768px) {
      font-size: 16px;
    }

    @media screen and (max-width: 576px) {
      font-size: 14px;
    }
  }
}

._end-aligned {
  h2 { text-align: end }
  p { text-align: end }

  @media screen and (max-width: 576px) {
    padding-left: 10%;
  }
}

._start-aligned {
  @media screen and (max-width: 576px) {
    padding-right: 10%;
  }
}

.about__image {
  width: 50%;

  @media screen and (max-width: 576px) {
    display: none;
  }
}