// ABOUT

.about {
  @include flex(column, center);
  z-index: 2;
  width: 100%;
  background-color: $color-beige;
}

.about__container {
  width: 1200px;
  padding-top: $bp-m;
  padding-bottom: $bp-m;
}