// ABOUT

.about {
  @include flex(column, center);
  position: relative;
  z-index: 3;
  width: 100%;
  background-color: $sand;
}

.about__container {
  @include flex(column, center);
  @extend %container;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about__block {
  width: 100%;
  margin-bottom: 92px;
  @include flex(row, center);
  
  &:last-of-type { margin-bottom: 0 }
  img { width: 50% }
}

.about__text {
  h2 {
    @extend %font-roboto-bold;
    margin-bottom: 28px;
    font-size: 32px;
    color: $dark;
  }

  p {
    @extend %font-inter;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.25px;
    color: $dark-lite;
  }
}

._end-aligned {
  h2 { text-align: end }
  p { text-align: end }
}