// AFFILIATES

.affiliates {
  @include flex(column, center);
  width: 100%;
  background-color: $beige;
}

.affiliates__container {
  @include flex(column, center);
  @extend %container;
  padding-top: 144px;
  padding-bottom: 144px;

  @media screen and (max-width: 992px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (max-width: 768px) {
    padding-top: 80px;
  }

  @media screen and (max-width: 360px) {
    padding-top: 48px;
    padding-bottom: 80px;
  }

  h2 {
    @extend %font-roboto;
    margin-bottom: 66px;
    font-size: 32px;
    color: $dark;

    @media screen and (max-width: 992px) {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 576px) {
      font-size: 28px;
    }
  }
}

.affiliates__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;

  @media screen and (max-width: 1400px) {
    grid-column-gap: 24px;
  }

  @media screen and (max-width: 992px) {
    grid-column-gap: 16px;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 360px) {
    @include flex(column);
    grid-template-columns: none;
    grid-gap: 0;

    a {
      margin-bottom: 24px;
      &:last-of-type { margin: 0 }
    }
  }
}

.affiliates__list-element {
  @include flex(column, center, center);
  height: 144px;
  background-color: rgba(30, 25, 40, 0.08);
  border-radius: 8px;
  transition: all 0.3s;

  &:hover {
    background-color: rgba(30, 25, 40, 0.2);
  }

  @media screen and (max-width: 1400px) {
    height: 132px;
  }

  @media screen and (max-width: 1400px) {
    height: 10vw;
  }

  @media screen and (max-width: 768px) {
    height: 15vw;
  }

  @media screen and (max-width: 576px) {
    height: 20vw;
  }
}

.affiliates__logo {
  max-width: 134px;
  max-height: 46px;

  @media screen and (max-width: 992px) {
    max-width: 100px;
    max-height: 28px;
  }

  @media screen and (max-width: 768px) {
    max-width: 120px;
    max-height: 32px;
  }

  @media screen and (max-width: 576px) {
    max-width: 100px;
    max-height: 28px;
  }
}