// FEEDBACK

.feedback {
  @include flex(column, center);
  width: 100%;
  background-color: $color-purple;
}

.feedback__container {
  width: 828px;
  padding-top: $bp-xl;
  padding-bottom: $bp-xxl;
  @include flex(column, center);
}