// FOOTER

.footer {
  @include flex(column, center);
  width: 100%;
  background-color: $white;
}

.footer__container {
  @extend %container;
  padding-top: 64px;
  padding-bottom: 64px;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: repeat(3, auto);

  @media screen and (max-width: 1200px) {
    grid-template-columns: auto minmax(256px, 35%);
  }

  @media screen and (max-width: 576px) {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
  }

  @media screen and (max-width: 576px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.footer__links {
  @include flex();
  padding-bottom: 114px;

  @media screen and (max-width: 992px) {
    padding-bottom: 68px;
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 48px;
  }

  ul {
    @include flex(column);
    width: 50%;

    @media screen and (max-width: 768px) {
      width: 112px;
      &:first-of-type { margin-right: 36px }
    }
  }

  h2 {
    @extend %font-inter-bold;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.25px;
    color: $dark;

    @media screen and (max-width: 992px) {
      margin-bottom: 12px;
      font-size: 16px;
    }

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }

  li { 
    margin-bottom: 16px;

    @media screen and (max-width: 992px) {
      margin-bottom: 12px;
    }
  }

  li:last-of-type { 
    margin-bottom: 0;
  }

  a {
    @extend %font-inter;
    font-size: 16px;
    line-height: 1.6;
    color: $dark;

    @media screen and (max-width: 992px) {
      font-size: 14px;
    }

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
}

.footer__social-media {
  @include flex(row, normal, flex-end);

  @media screen and (max-width: 1200px) {
    max-width: 256px;
    justify-self: flex-end;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
  }

  @media screen and (max-width: 576px) {
    display: none;
  }
}

.footer__subscribe {
  @include button();

  @media screen and (max-width: 1200px) {
    font-size: 12px;
  }
}

.footer__twitter {
  @include bg-image(url('../images/logo-twitter.svg'), center, 40%);
  @extend %round-button;
}

.footer__instagram {
  @include bg-image(url('../images/logo-instagram.svg'), center, 40%);
  @extend %round-button;
}

.footer__facebook {
  @include bg-image(url('../images/logo-facebook.svg'), center, 40%);
  @extend %round-button;
}

.footer__linkedin {
  @include bg-image(url('../images/logo-linkedin.svg'), center, 40%);
  @extend %round-button;
}

.footer__description {
  @extend %font-inter;
  max-width: 668px;
  padding-bottom: 14px;
  font-size: 14px;
  line-height: 157%;
  color: $dark;

  @media screen and (max-width: 992px) {
    max-width: 100%;
    padding-right: 16px;
    font-size: 12px;
  }

  @media screen and (max-width: 768px) {
    padding-right: 20px;
    font-size: 10px;
  }

  @media screen and (max-width: 576px) {
    display: none;
  }
}

.footer__stores {
  @include flex(row, normal, flex-end);

  @media screen and (max-width: 576px) {
    margin-bottom: 32px;
    grid-row-start: 1;
    justify-self: flex-start;
  }
}

.footer__app-store {
  @include bg-image(url('../images/logo-apple.svg'));
  width: 120px;
  height: 40px;
  margin-right: 16px;

  @media screen and (max-width: 768px) {
    margin-right: 20px;
  }
}

.footer__google-play {
  @include bg-image(url('../images/logo-google.svg'));
  width: 120px;
  height: 40px;
}

.footer__address {
  @extend %font-inter-bold;
  font-size: 12px;
  line-height: 167%;
  color: $dark;
}

.footer__copyright {
  @extend %font-inter;
  font-size: 12px;
  line-height: 167%;
  color: $dark-lite;
  text-align: end;

  @media screen and (max-width: 576px) {
    text-align: start;
  }
}