// FORM

.form {
  @include flex(row, center, space-between);
  width: 448px;
  height: 56px;
  margin-bottom: 96px;
  background-color: $color-white;
  border-radius: 28px;
}

.form__input {
  padding-left: 32px;
}

.form__input::placeholder {
  @include font-inter(400);
  font-size: $fs-s;
}

.form__button {
  width: 180px;
  margin-right: 10px;
  @include button($color-dark, $color-white, none); 
}