// HEADER

.header {
  @include flex(column, center, center);
  width: 100%;
  background-color: $beige;
  color: red;
}

.header__container {
  @include flex(row, center, space-between);
  @extend %container;
  position: relative;
  height: 112px;

  @media screen and (max-width: 768px) {
    height: 80px;
  }
}

.header__logo {
  @include bg-image(url(../images/logo.svg));
  width: 128px;
  height: 32px;

  @media screen and (max-width: 576px) {
    width: 100px;
  }
}

.menu__button {
  position: absolute;
  right: 0;
  width: 30px;
  height: 20px;
  display: none;
  cursor: pointer;

  // "бургер" появляется на этом разрешении и ниже
  @media screen and (max-width: 576px) {
    @include flex(column, center, space-between);
  }

  span {
    width: 100%;
    height: 2px;
    background-color: $dark;
  }
}

.menu__body {
  position: relative;
}

.menu__list {
  @include flex();

  @media screen and (max-width: 576px) {
    position: fixed;
    top: 80px;
    right: 0;
    width: 100%;
    padding-right: 40px;
    display: none;
    // @include flex(column, flex-end);
    background-color: $color-gold;
  }

  @media screen and (max-width: 576px) {
    padding-right: 20px;
  }
}

.menu__list-element {
  margin-right: 40px;
  &:last-of-type { margin-right: 0 }

  @media screen and (max-width: 576px) {
    margin-right: 0;
    margin-bottom: 20px;
    &:last-of-type { margin-bottom: 0 }
  }
}

.menu__link {
  @include font-inter(400);
  font-size: 14px;
  color: $dark;

  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

























// ЧЕРНОВИК - 2

// .header {
//   width: 100%;
//   height: 112px;
//   @include flex(column, center, center);
//   background-color: $color-beige;

//   @media screen and (max-width: $width-768) {
//     height: 80px;
//   }
// }

// .header__container {
//   width: 1200px;
//   height: 100%;
//   @include flex(row, center, space-between);

//   @media screen and (max-width: $width-1200) {
//     width: calc(100% - 80px)
//   }

//   @media screen and (max-width: $width-768) {
//     width: calc(100% - 40px)
//   }
// }

// .header__logo {
//   width: 128px;
//   height: 32px;
//   @include bg-image(url(../images/logo.svg));
// }

// .menu__icon {
//   width: 30px;
//   height: 20px;
//   display: none;
//   cursor: pointer;

//   @media screen and (max-width: $width-768) {
//     @include flex(column, center, space-between)
//   }

//   span {
//     width: 100%;
//     height: 3px;
//     background-color: $color-dark;
//   }
// }

// .menu__body {
//   position: relative;
// }

// .menu__list {
//   @include flex();

//   @media screen and (max-width: $width-768) {
//     position: fixed;
//     @include flex(column, flex-end);
//   }

//   li { margin-right: 40px }
//   li:last-of-type { margin-right: 0 }

//   @media screen and (max-width: $width-768) {
//     li { 
//       margin-bottom: 20px;
//       margin-right: 0; 
//     }
//     li:last-of-type { margin-bottom: 0 }
//   }
// }

// .menu__link {
//   @include font-inter(400);
//   font-size: $fs-s;
//   color: $color-dark;
// }














// ЧЕРНОВИК - 1

// .header {
//   min-height: 34px;
//   width: 100%;
//   padding-top: $bp-xs;
//   padding-bottom: $bp-xs;
//   @include flex(column, center);
//   background-color: $color-beige;
// }

// .header__container {
//   max-width: 1200px;
//   @include flex(row, center, space-between);

//   a div {
//     z-index: 10;
//     width: 128px;
//     height: 32px;
//     @include bg-image(url(../images/logo.svg));
//   }
// }

// .header__menu {
//   position: relative;
// }

// .menu__icon {
//   display: none;
// }

// .menu__list li {
//   margin-right: 40px;
//   &:last-of-type { margin-right: 0 }
// }

// .menu__link {
//   @include font-inter(400);
//   font-size: $fs-s;
//   color: $color-dark;
// }

// @media screen and (min-width: 768px) {
//   .menu__list {
//     @include flex(row, center);
//   }
// }

// @media screen and (max-width: 768px) {
//   .menu__icon {
//     z-index: 5;
//     display: block;
//     position: relative;
//     width: 30px;
//     height: 18px;
//     cursor: pointer;

//     span, &::before, &::after {
//       position: absolute;
//       left: 0;
//       width: 100%;
//       height: 10%;
//       transition: all 0.3s;
//       background-color: $color-dark;
//     }

//     span {
//       top: 50%;
//       transform: scale(1) translate(0px, -50%);
//     }

//     &::before, &::after {
//       content: '';
//     }

//     &::before {
//       top: 0;
//     } 
    
//     &::after {
//       bottom: 0;
//     }
//   }

//   .menu__body {
//     display: none;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.5);
//     padding: 100px 30px 30px 30px;
//     overflow: auto;
//   }

//   .active {
//     display: block;
//   }

//   .menu__body::before {
//     content: '';
//     position: fixed;
//     z-index: 2;
//     top: 0;
//     left: 0;
//     width: 100%;
//     min-height: 34px;
//     padding-top: $bp-xs;
//     padding-bottom: $bp-xs;
//     background-color: $color-beige;
//   }
  
//   .menu__list li {
//     margin-right: 0;
//     margin-bottom: 30px;
//     &:last-of-type { margin-bottom: 0 }
//   }

//   .menu__link {
//     font-size: $fs-xl;
//   }
// }