// HEADER

.header {
  @include flex(column, center, center);
  width: 100%;
  background-color: $beige;
  color: red;
}

.header__container {
  @include flex(row, center, space-between);
  @extend %container;
  position: relative;
  height: 112px;

  @media screen and (max-width: 768px) {
    height: 80px;
  }
}

.header__logo {
  @include bg-image(url(../images/logo.svg));
  width: 128px;
  height: 32px;

  @media screen and (max-width: 576px) {
    width: 100px;
  }
}

.menu__button {
  position: absolute;
  right: 0;
  width: 30px;
  height: 20px;
  display: none;
  cursor: pointer;

  // "бургер" появляется на этом разрешении и ниже
  @media screen and (max-width: 576px) {
    @include flex(column, center, space-between);
  }

  span {
    width: 100%;
    height: 2px;
    background-color: $dark;
  }
}

.menu__body {
  position: relative;
}

.menu__list {
  @include flex();

  @media screen and (max-width: 576px) {
    position: fixed;
    top: 80px;
    right: 0;
    width: 100%;
    padding-right: 40px;
    display: none;
    // @include flex(column, flex-end);
    background-color: $gold;
  }

  @media screen and (max-width: 576px) {
    padding-right: 20px;
  }
}

.menu__list-element {
  margin-right: 40px;
  &:last-of-type { margin-right: 0 }

  @media screen and (max-width: 576px) {
    margin-right: 0;
    margin-bottom: 20px;
    &:last-of-type { margin-bottom: 0 }
  }
}

.menu__link {
  @extend %font-inter;
  font-size: 14px;
  color: $dark;

  @media screen and (max-width: 576px) {
    font-size: 20px;
  }
}