// HOW IT WORKS

.how-it-works {
  @include flex(column, center);
  width: 100%;
  background-color: $gold;
}

.how-it-works__container {
  @include flex();
  @extend %container;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (max-width: 768px) {
    @include flex(column);
    padding-top: 48px;
  }

  h2 {
    @extend %font-roboto-bold;
    position: relative;
    z-index: 1;
    width: 50%;
    font-size: 48px;
    line-height: 121%;
    color: $dark;

    @media screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: 48px;
      font-size: 32px;
    }
  }
}

.how-it-works__list {
  position: relative;
  z-index: 1;
  width: 50%;
  list-style: none;

  @media screen and (max-width: 768px) {
    width: 100%;
  }


}

.how-it-works__list-element {
  @include flex(column);
  width: 100%;
  margin-bottom: 40px;

  div {
    @include flex(row, baseline);
    width: 100%;
  }
  
  span {
    @include flex(row, center, center);
    @extend %font-inter;
    width: 40px;
    height: 40px;
    margin-right: 24px;
    font-size: 18px;
    color: $white;
    background-color: $dark;
    border-radius: 20px;

    @media screen and (max-width: 768px) {
      width: 32px;
      height: 32px;
      margin-right: 16px;
      font-size: 16px;
      border-radius: 16px;
    }

    @media screen and (max-width: 360px) {
      width: 28px;
      height: 28px;
      margin-right: 12px;
      font-size: 14px;
      border-radius: 14px;
    }
  }

  h3 {
    @extend %font-inter-bold;
    max-width: calc(100% - 40px - 24px);
    font-size: 18px;
    line-height: 153%;
    letter-spacing: 0.25px;
    color: $dark;

    @media screen and (max-width: 768px) {
      max-width: calc(100% - 32px - 16px);
    }

    @media screen and (max-width: 360px) {
      max-width: calc(100% - 28px - 14px);
    }
  }

  p {
    @extend %font-inter;
    margin-top: 10px;
    margin-left: 64px;
    font-size: 16px;
    line-height: 153%;
    letter-spacing: 0.18px;
    color: $dark-lite;

    @media screen and (max-width: 768px) {
      margin-left: 48px;
      font-size: 14px;
    }

    @media screen and (max-width: 360px) {
      margin-left: 40px;
    }
  }
}

.how-it-works__list-element:last-of-type {
  margin-bottom: 0;
}

.how-it-works__image {
  @include bg-image(url(../images/bg-papers.png));
  position: absolute;
  bottom: -188px;
  left: -180px;
  width: 400px;
  height: 400px;

  @media screen and (max-width: 1200px) {
    left: -120px;
  }

  @media screen and (max-width: 768px) {
    bottom: -144px;
    width: 320px;
    height: 320px;
  }
}