// INTRODUCING

.introducing {
  @include flex(column, center);
  width: 100%;
  background-color: $beige;

  @media screen and (max-width: 576px) {
    padding-top: 60px;
  }
}

.introducing__container {
  @include flex();
  @extend %container;
  position: relative;
  margin-top: 80px;
  margin-bottom: 96px;

  @media screen and (max-width: 1200px) {
    margin-top: 40px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 64px;
  }

  @media screen and (max-width: 576px) {
    margin-top: 24px;
  }
}

.introducing__info {
  @include flex(column);
  z-index: 3;

  @media screen and (max-width: 576px) {
    @include flex(column, center);
  }

  h1 {
    @extend %font-roboto;
    max-width: 420px;
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 121%;
    color: $dark;

    @media screen and (max-width: 992px) {
      max-width: 360px;
      font-size: 40px;
    }

    @media screen and (max-width: 576px) {
      max-width: 260px;
      margin-bottom: 16px;
      font-size: 28px;
      text-align: center;
    }
  }

  p:first-of-type {
    @extend %font-inter;
    max-width: 494px;
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.25px;
    color: $dark-lite;

    @media screen and (max-width: 992px) {
      font-size: 14px;
    }

    @media screen and (max-width: 576px) {
      text-align: center;
    }
  }

  p {
    @extend %font-inter;
    max-width: 548px;
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.25px;
    color: $dark-lite;

    @media screen and (max-width: 992px) {
      max-width: 494px;
      font-size: 16px;
    }

    @media screen and (max-width: 576px) {
      margin-bottom: 20px;
      font-size: 14px;
      text-align: center;
    }
  }

  p:last-of-type {
    @extend %font-inter;
    margin-bottom: 24px;
    font-size: 18px;
    letter-spacing: 0.25px;
    color: $dark;

    @media screen and (max-width: 992px) {
      font-size: 16px;
    }

    @media screen and (max-width: 576px) {
      margin-bottom: 20px;
      font-size: 14px;
      text-align: center;
    }
  }
}

.introducing__image {
  @include bg-image(url(../images/bg-family.png));
  position: absolute;
  z-index: 1;
  bottom: -32%;
  right: 0;
  width: 500px;
  height: 380px;

  @media screen and (max-width: 1200px) {
    width: 400px;
    height: 308px;
  }

  @media screen and (max-width: 992px) {
    width: 340px;
    height: 260px;
    bottom: -34%;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}