// INTRODUCING

.introducing {
  @include flex(column, center);
  width: 100%;
  background-color: $beige;
}

.introducing__container {
  @include flex();
  @extend %container;
  position: relative;
  padding-top: 80px;
  padding-bottom: 96px;

  @media screen and (max-width: 1200px) {
    padding-top: 40px;
  }

  @media screen and (max-width: 576px) {
    padding-top: 24px;
    padding-bottom: 64px;
  }
}

.introducing__info {
  z-index: 3;
  width: 50%;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  h1 {
    @extend %font-roboto;
    max-width: 70%;
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 121%;
    color: $dark;

    @media screen and (max-width: 1200px) {
      font-size: 32px;
    }

    @media screen and (max-width: 576px) {
      margin-bottom: 16px;
      font-size: 24px;
    }
  }

  p:first-of-type {
    @extend %font-inter;
    max-width: 90%;
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.25px;
    color: $dark-lite;

    @media screen and (max-width: 1200px) {
      max-width: 80%;
      font-size: 14px;
    }

    @media screen and (max-width: 576px) {
      max-width: 80%;
      font-size: 12px;
    }
  }

  p {
    @extend %font-inter;
    max-width: 90%;
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.25px;
    color: $dark-lite;

    @media screen and (max-width: 1200px) {
      max-width: 80%;
      font-size: 16px;
    }

    @media screen and (max-width: 768px) {
      max-width: 70%;
    }

    @media screen and (max-width: 576px) {
      max-width: 80%;
      margin-bottom: 20px;
      font-size: 14px;
    }
  }

  p:last-of-type {
    @extend %font-inter;
    margin-bottom: 24px;
    font-size: 18px;
    letter-spacing: 0.25px;
    color: $color-dark;

    @media screen and (max-width: 1200px) {
      font-size: 16px;
    }

    @media screen and (max-width: 576px) {
      margin-bottom: 20px;
      font-size: 14px;
    }
  }
}

.introducing__image {
  @include bg-image(url(../images/bg-family.png));
  position: absolute;
  z-index: 1;
  bottom: -80px;
  right: 0;
  width: 50%;
  height: 100%;

  @media screen and (max-width: 992px) {
    width: 45%;
    bottom: -120px;
  }

  @media screen and (max-width: 576px) {
    display: none;
  }
}