// LEARN MORE

.learn-more {
  @include flex(column, center);
  position: relative;
  z-index: 2;
  width: 100%;
  background: linear-gradient(to bottom, $beige 50%, $gold 50%);
}

.learn-more__container {
  @include flex(column, center);
  @extend %container;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $white;
  border-radius: 8px;

  @media screen and (max-width: 768px) {
    width: 100%;
    border-radius: 0;
  }

  h2 {
    @extend %font-roboto;
    max-width: 200px;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 131%;
    color: $dark;

    @media screen and (max-width: 576px) {
      font-size: 24px;
    }
  }

  p {
    @extend %font-roboto;
    max-width: 650px;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.25px;
    color: $dark-lite;
    text-align: center;

    @media screen and (max-width: 576px) {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 14px;
    }
  }

  button {
    @include button(transparent, $dark, 1px solid $dark);
  }
}