// LEARN MORE

.learn-more {
  width: 100%;
  @include flex(column, center);
  background: linear-gradient(to bottom, $color-beige 50%, $color-gold 50%);
}

.learn-more__container {
  width: 1200px;
  padding-top: $bp-m;
  padding-bottom: $bp-m;
  @include flex(column, center);
  @extend %plate-section;

  h2 {
    margin-bottom: 24px;
    @include font-roboto(400);
    font-size: $fs-xxl;
    color: $color-dark;
  }

  p {
    width: 648px;
    margin-bottom: 24px;
    @include font-inter(400);
    font-size: $fs-l;
    line-height: 1.6;
    letter-spacing: 0.25px;
    color: $color-dark;
    text-align: center;
  }

  button {
    @include button(transparent, $color-dark, 1px solid $color-dark);
  }
}