// FORM

.request-form {
  @include flex(row, center, space-between);
  max-width: 448px;
  height: 56px;
  background-color: $white;
  border-radius: 28px;

  @media screen and (max-width: 992px) {
    max-width: 360px;
  }

  input {
    @extend %font-inter;
    max-width: 120px;
    margin-left: 32px;
    font-size: 14px;
    line-height: 142%;
    color: $dark;
    background-color: transparent;

    @media screen and (max-width: 576px) {
      margin-left: 20px;
      font-size: 12px;
    }

    &::placeholder {
      color: rgba(30, 25, 40, 0.23);
    }
  }

  button {
    @include button($dark, $white, none);
    margin-right: 10px;
    transition: all 0.4s;

    &:hover {
      color: $gold;
    }
  }
}