// SECURITY

.security {
  @include flex(column, center);
  width: 100%;
  background: linear-gradient(to bottom, $color-sand 50%, $color-purple 50%);
}

.security__container {
  @include flex(column, center);
  @extend %container;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $white;
  border-radius: 8px;

  @media screen and (max-width: 768px) {
    width: 100%;
    border-radius: 0;
  }

  h2 {
    @extend %font-roboto;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 131%;
    color: $dark;
    text-align: center;

    @media screen and (max-width: 576px) {
      max-width: 80%;
      font-size: 24px;
    }
  }

  p {
    @extend %font-roboto;
    max-width: 650px;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.25px;
    color: $dark-lite;
    text-align: center;

    @media screen and (max-width: 768px) {
      max-width: 90%;
    }

    @media screen and (max-width: 576px) {
      max-width: 95%;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 14px;
    }
  }
}