// SERVICES

.services {
  @include flex(column, center);
  width: 100%;
  background-color: $color-beige;
}

.services__container {
  width: 100%;
  padding-top: $bp-xl;
  padding-bottom: $bp-xl;
  @include flex(column, center);

  h2 {
    @include font-inter(700);
    font-size: $fs-l;
    text-align: center;
    color: $color-dark;
  }

  button {
    @include button(transparent, $color-dark, 1px solid $color-dark);
  }
}

.services__list {
  margin-top: 80px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 16px;
}

.services__list-element {
  width: 144px;
  height: 160px;
  @include flex(column, center);
  background-color: $color-white;
  border-radius: 8px;

  img {
    width: 88px;
    height: 88px;
    margin-top: 12px;
  }

  h3 {
    width: 80%;
    margin-top: 12px;
    @include font-inter(700);
    font-size: $fs-xs;
    text-align: center;
    color: $color-dark;
  }
}

