// SERVICES

.services {
  @include flex(column, center);
  width: 100%;
  background-color: $sand;
}

.services__container {
  @include flex(column, center);
  width: 100%;
  padding-top: 144px;
  padding-bottom: 144px;

  h2 {
    @extend %font-inter-bold;
    font-size: 18px;
    text-align: center;
    color: $dark;
  }

  button {
    @include button(transparent, $dark, 1px solid $dark);
  }
}

.services__list {
  margin-top: 80px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 16px;
}

.services__list-element {
  @include flex(column, center);
  width: 144px;
  height: 160px;
  background-color: $white;
  border-radius: 8px;

  img {
    width: 88px;
    height: 88px;
    margin-top: 12px;
  }

  h3 {
    @extend %font-inter-bold;
    width: 80%;
    margin-top: 12px;
    font-size: 12px;
    text-align: center;
    color: $dark;
  }
}