// TARIFFS

.tariffs {
  @include flex(column, center);
  width: 100%;
  background: linear-gradient(to bottom, $color-beige 50%, $color-dark 50%);
}

.tariffs__container {
  width: 1200px;
  padding-top: $bp-m;
  padding-bottom: $bp-m;
  @include flex(row, center, center);
  background-color: $color-white;
  border-radius: 8px;

  div {
    width: calc((100% - 1px) / 2);
    @include flex(column, center);
  }

  div h2 {
    margin-bottom: 16px;
    @include font-roboto(400);
    font-size: $fs-xxl;
    color: $color-dark;
  }

  div p {
    @include font-inter(400);
    font-size: $fs-s;
    letter-spacing: 0.08px;
    color: $color-dark;
  }

  span {
    width: 1px;
    height: 80px;
    background-color: rgba(30, 25, 40, 0.16);
  }
}