// VARIABLES

// цвета
$color-white: #FFFFFF;
$color-dark: #1E1928;
$color-beige: #EDE6DD;
$color-sand: #F4EFE9;
$color-gold: #FFD394;
$color-purple: #592141;

// размеры шрифтов
$fs-xxxl: 48px;
$fs-xxl: 32px;
$fs-xl: 24px;
$fs-l: 18px;
$fs-m: 16px;
$fs-s: 14px;
$fs-xs: 12px;

// паддинги блоков
$bp-xxl: 180px;
$bp-xl: 140px;
$bp-l: 100px;
$bp-m: 80px;
$bp-s: 60px;
$bp-xs: 40px;